import(minfi)
import(S4Vectors)
import(SummarizedExperiment)

importFrom(genefilter, rowFtests, rowttests)
importFrom(quadprog, solve.QP)
importFrom(graphics, legend, plot)
importFrom(methods, as, is)
importFrom(stats, as.formula, lm, model.matrix, 
    pf, runif, vcov)
importFrom(utils, data)
importFrom(matrixStats, rowMeans2, 
    colMeans2)
importFrom(nlme, lme, getVarCov)

export(RMSE)
export(createBulkProfiles)
export(estimateCellCountsWithError)
export(generateCellProportions)
export(pickCompProbesMatrix)
export(projectCellTypeWithError)
export(runNoiseSimulations)


